body{
    overflow-x: hidden;
}
.extra-div-1{
    width: 409px;
    height: 400px;
    background-image: url(/images/extra-div-1.png);
    top: 270px;
    left: -552px;
}
.extra-div-2{
    bottom: -380px;
    width: 704px;
    height: 441px;
    background-image: url(/images/extra-div-2.png);
    left: -572px;
}
.extra-div-3{
    width: 727px;
    height: 282px;
    background-image: url(/images/extra-div-3.png);
    bottom: -338px;
    right: 0;
}
.extra-div-4{
    width: 431px;
    height: 265px;
    background-image: url(/images/extra-div-4.png);
    top: -299px;
    right: 184px;
}
.extra-div-5{
    width: 303px;
    height: 238px;
    background-image: url(/images/extra-div-5.png);
    top: 421px;
    right: -344px;
}